body{
  background-color: skyblue;
}

.App {
  text-align: center;
  list-style: none;
}

.FavList{
  list-style: none;
  text-decoration: none;
}

.FavImg{
  width: 200px;
  height: 200px;
}

.display {
  background-color: lightblue;
}


  button {
    padding: 10px 10px 10px 10px;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightslategray;
    background-color: lightgoldenrodyellow;
}

h1{
  color: darkslategray;
  font-size: 30px;
}

p {
  color: darkslategrey;
  font-size: 20px;
}

h2 {
  font-size: 18px;
  color: darkslategray;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}











